/* Reset styles */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: 0.3s;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color3);
}
ul {
  list-style: none;
}
*:focus {
  outline: none;
}
::selection {
  background-color: var(--color-hover);
  color: white;
}
/* Variables */
:root {
  --background-color: #212a31;
  --background-color2: #0d1118;
  --background-color3: #131821;
  --color: #e5e7eb;
  --color-border: #9d3c0b;
  --color-hover: #d8510e;
  --color2: #2e3944;
  --color3: #ffa200;
  --color4: rgb(255 162 0 / 50%);
  --gray: rgb(53, 54, 56);
  --font-family: "Playwrite NZ", sans-serif;
  --transition: 0.3s;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color3);
}
/* Start button */
img {
  max-width: 100%;
}
.button-work {
  border: 2px solid var(--background-color2);
}
.button-work:hover {
  background-color: rgb(211 217 212 / 10%);
  color: orange;
  border: 2px solid var(--color3);
}
/* End button */
a {
  display: inline-block;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #131821;
  min-height: 54px;
  z-index: 25;
}
header nav .logo,
header nav .links {
  height: 54px;
}
header nav .links ul li {
  position: relative;
  height: 54px;
}
header nav .links ul li::after {
  content: "";
  background-color: var(--color3);
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  position: absolute;
  top: 53px;
}
header nav .links ul li:hover::after {
  width: 100%;
  transition: var(--transition);
}
header nav .links li:hover a,
header nav .links .form:hover,
header nav .links .menu:hover,
header nav .links .active {
  color: var(--color3);
}
header nav .links .form {
  border-left: 2px solid var(--color3);
  cursor: pointer;
}
@media (max-width: 768px) {
  header nav .links ul {
    display: none;
  }
  header nav .links .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(46 57 68 /80%);
    text-align: center;
  }

  header nav .links .menu:hover + ul li {
    width: 100%;
  }
  header nav .links .menu:hover + ul li:not(:last-child) {
    border-bottom: 1px solid #86775ab3;
  }
  header nav .links ul li::after {
    top: 54px;
  }
  header nav .links ul li:hover i {
    color: #ffaa00b3;
  }
  header nav .links .menu:hover + ul li a {
    font-family: var(--font-family);
  }
}
/* Start Home */
section {
  padding: 80px 0;
  border-bottom: 2px solid var(--color-border);
}
.main {
  position: relative;
  background-color: #131821;
  overflow: hidden;
}
.main .boxs {
  position: relative;
  bottom: -54px;
}
.main .boxs h1 {
  margin: 10px 0;
}
.main .boxs .social i {
  width: 60px;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--color);
}
.main .boxs .social i:hover {
  color: var(--color3);
}
.main .boxs img {
  position: relative;
  bottom: -56px;
}
@media (max-width: 767px) {
  .main .boxs img {
    display: none;
  }
  .main .boxs .text h1 {
    font-size: 40px;
  }
  .main .boxs .social i {
    justify-content: center;
    margin-bottom: 10px;
  }
}
/* Start About */
.About {
  background-color: var(--background-color2);
}
.About .content .image img {
  width: 400px;
  max-width: 100%;
  border-radius: 20px;
}
.About .content .text p span:hover {
  color: var(--color-hover);
  border-bottom: 3px solid var(--color-hover);
}
@media (max-width: 992px) {
  .About .content {
    flex-direction: column;
  }
  .About .content .image img {
    width: 50%;
    display: block;
    margin: auto;
  }
  .About .content .btn-read {
    margin-bottom: 5px;
  }
  .About .content .text {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .About .content .btn-read {
    margin: 0 auto 10px;
  }
}
/* Start Services */
.Services {
  background-color: var(--background-color3);
}
.Services .boxs {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.Services .box {
  height: 100%;
  padding: 20px 25px;
  border: 2px solid #767676;
  box-shadow: 0px 0px 5px #767676, 0px 0px 5px #767676;
  transform: translateY(0);
  position: relative;
}
.Services .box:hover {
  transition: var(--transition);
  border: 2px solid var(--color3);
  box-shadow: 0px 0px 5px var(--color3), 0px 0px 5px var(--color3);
}
.Services .box:hover h1,
.Services .box:hover i {
  color: var(--color3);
}
.Services .box p {
  color: var(--color);
  line-height: 2;
}
.Services .box .button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 770px) {
  .Services .box p {
    height: 210px;
  }
}
@media (min-width: 674px) and (max-width: 770px) {
  .Services .box p {
    height: 260px;
  }
}
@media (max-width: 673px) {
  .Services .box p {
    height: auto;
  }
}
/* Start */
.projects {
  background-color: var(--background-color2);
}
.projects .container .boxs {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.projects .container .boxs .box {
  position: relative;
  border: 2px solid var(--color-border);
  box-shadow: 0px 0px 5px #767676, 0px 0px 5px #767676;
  background-color: rgb(46 57 68 / 20%);
  border-radius: 20px;
}
.projects .container .boxs .box:hover {
  border: 2px solid var(--color3);
  box-shadow: 0px 0px 5px var(--color3), 0px 0px 5px var(--color3);
}
.projects .container .boxs .box:hover .foot i {
  animation: right 1s linear infinite;
  -webkit-animation: right 0.5s linear infinite;
  transition: var(--transition);
}
.projects .container .boxs .box:hover .foot i,
.projects .container .boxs .box:hover .foot p {
  color: var(--color-hover);
}
@keyframes right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5px);
  }
}
.projects .container .boxs .box .image {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
}
.projects .boxs .box .box-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111111b9;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  opacity: 0;
}
.projects .boxs .box:hover .box-hover {
  opacity: 1;
}
.projects .container .boxs .box-hover span {
  color: var(--color);
  font-size: 25px;
}
.projects .container .box:hover img {
  transform: rotate(-1.1deg) scale(1.2);
  transition: 0.5s;
}
@media (max-width: 340px) {
  .projects .boxs .box {
    width: 70%;
    margin: 0 auto;
  }
}
.more {
  width: fit-content;
  margin: auto;
  display: block;
  position: relative;
  top: 46px;
}
/* Start Contact */
.contact-us {
  background-color: var(--background-color3);
}
.contact-us .container .boxs {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.contact-us .container .boxs .box ul {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.contact-us .container .boxs .box ul a {
  color: var(--color);
  font-family: var(--font-family);
  padding: 10px;
}
.contact-us .container .boxs .box ul a {
  padding: 5px 5px 5px 0;
  border-bottom: 2px solid transparent;
}
.contact-us .container .boxs .box ul a:hover {
  padding: 5px 5px 5px 0;
  color: var(--color-hover);
  border-bottom: 2px solid var(--color-hover);
}
.contact-us .container .social i {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  color: var(--color);
}
.contact-us .container .social i:hover {
  color: var(--color3);
}
.contact-us .container .boxs .box .buyCoffee img {
  width: 217px !important;
  height: 60px !important;
}
.contact-us .container .boxs .box-ref {
  width: 300px;
}
.contact-us .container .boxs .box .links-ref a {
  border-radius: 16px;
  background-color: var(--gray);
  color: var(--color);
  font-size: 1rem;
  align-items: center;
  display: inline-flex;
}
.contact-us .container .boxs .box .links-ref a:hover {
  color: var(--color-hover);
}
.contact-us p {
  padding-top: 20px;
  border-top: 1px solid #313131;
  margin-bottom: -49px;
}
@media (max-width: 992px) {
  .contact-us .container .boxs {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    padding: 30px;
  }
  .contact-us .container .boxs .box-ref {
    display: none;
  }
}
@media (max-width: 768px) {
  .contact-us .container .boxs {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 40px;
  }
  .contact-us .container .boxs .box .social {
    margin: 0;
  }
  .contact-us .container .boxs .middel h4 {
    margin-top: 20px;
  }
  .contact-us .container .boxs .box .buyCoffee {
    margin-top: 30px;
  }
}
